---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout>
	<div class="w-full h-[300px]">
		<img class="w-full h-full" src="/hero-image.png" alt="hero-image">
	</div>
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa modi minima ipsa sint officiis ex iure quis inventore pariatur ducimus, vel, obcaecati veniam cumque! Nam deleniti id dolor molestiae adipisci?
	</p>
</PageLayout>
