---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://admin.qzeyu.fun" target="_blank">
				<svg t="1714113052399" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="11197" width="32" height="32"><path d="M263.6 899.9c-19 0-26.8 23.9-26.8 23.9v35.8H788v-35.8c0-19.7-7.8-23.9-26.8-23.9H263.6zM860.7 123.7c16.4-1.4 39 18.3 39.8 39.8V661c0 34.6-27.4 59.7-59.7 59.7H621.9c-66.8 0.8-59.7 15.1-59.7 39.8v39.8h-99.5v-39.8c0-24.7-17.4-39.8-59.7-39.8H164.1c-32.3 0-39.8-45-39.8-79.6V163.5c0-13.3 18.2-39.8 39.8-39.8h696.6m-3.8-59.8h-689c-57 0-103.3 48.2-103.3 107.5V673c0 59.3 46.3 107.5 103.3 107.5H409v35.8c0 19.7 14.7 43.8 33.7 43.8H582c19 0 33.7-26.4 33.7-43.8v-35.8h241.1c57 0 103.3-48.1 103.3-107.5V171.4c0.1-59.3-46.2-107.5-103.2-107.5z m0 0" fill="#5D5D5D" p-id="11198"></path><path d="M409.1 596.3c-25.8-1.8-44.9-16.2-52.9-36.9l-36.8-95.8-42 43.7c-8.6 8.9-22.7 9.2-31.7 0.6-8.9-8.6-9.2-22.7-0.6-31.7l66.4-69.1c5.3-5.5 13-8 20.6-6.4 7.5 1.5 13.7 6.8 16.5 13.9L398 543.4c1.8 4.7 5.8 7.8 10.3 8.1h0.1c4.9 0 8.8-2.5 11-6.4L534.8 335c3.4-6.2 9.6-10.5 16.7-11.4 6.9-0.9 14.1 1.5 19.1 6.7l71.5 74.3a11.3 11.3 0 0 0 16.4 0l137.8-143.3c8.6-8.8 22.7-9.2 31.7-0.6 8.9 8.6 9.2 22.7 0.6 31.7L690.7 435.7c-21.5 22.4-59.5 22.4-81 0l-50.4-52.4-100.7 183.4c-10.1 18.3-29.1 29.6-49.5 29.6z m0 0" fill="#5D5D5D" p-id="11199"></path></svg>
			</a>
			<a href="https://github.com/wdzyy/blog" target="_blank">
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
