---
import CustomStyles from '../theme/index.astro';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<html lang="en">
	<head>
    <CustomStyles></CustomStyles>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<Header />
		<main class="min-h-[calc(100vh-var(--as-header-height)-var(--as-footer-height))] overflow-auto">
      <slot />
		</main>
		<Footer />
	</body>
</html>
